html, body {
  height: 100%;
  width: auto;
    overflow-y: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
  z-index: 1;
}

.first {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  z-index: 1;
}


#title {
  position: absolute;
  width: 100vw;
  top: 8vh;
  text-align: center;
  font-size: 15vh;
  font-family: 'Lato', 'sans-serif';
  color: white;
  z-index: 1;
}

#round {
  color: #4885ed;
  border-radius: 999em;
  top: 102vh;
  left: calc(50vw - 7.5vh);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 1vh 2vw;
  line-height: 1;
  font-size: 36px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

#image{
    position: static;
}

#up {
  position: absolute;
  color: #4885ed;
  left: calc(52vw - 7.5vh);
  font-size:4em;
  
  width: 75px;
  height: 75px;
  border-radius: 100%;
  text-align: center;
  background-color: white;
  top: 102vh;
  font-family: 'Roboto','sans-serif';
  align-content: center;
  z-index: 5;
}

#button {
  position: absolute;
  color: white;
  font-size: 3vh;
  left: calc(50vw - 7.5vh);
  padding: 1vh 2vw;
  border-radius: .4vh;
  background-color: #4885ed;
  bottom: 30vh;
  font-family: 'Roboto','sans-serif';
    z-index: 1;
}


#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}


#map {
  position: absolute;
  top: 100vh;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#floating-panel {
  position: absolute;
  left: 25vw;
  width: 50vw;
  z-index: 2;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}

#floating-panel {
  top: 100vh;
  left: 25%;
  position: absolute;
  z-index: 2;
}